
<div class="calculator">
     <input type="text" class="calculator-screen" [value]="currentNumber" disabled />


    <div class="calculator-keys">
        <button class="operator" (click)="setOperation(addition)">+</button>
        <button class="operator" (click)="setOperation(cacat)">-</button>
        <button class="operator" (click)="setOperation(multiplication)">X</button>
        <button class="operator" (click)="setOperation(division)">/</button>

        <button (click)="numClick(1)">
            1
        </button>
        <button (click)="numClick(2)">
            ®

            </button>
        <button (click)="numClick(3)">3</button>
        <button (click)="numClick(4)">4</button>
        <button (click)="numClick(5)">5</button>
        <button (click)="numClick(6)">6</button>
        <button (click)="numClick(7)">7</button>
        <button (click)="numClick(8)">8</button>
        <button (click)="numClick(9)">9</button>
        <button (click)="numClick(0)">0</button>

        <button class="equal-sign" (click)="calculate()">=</button>
        <button (click)="getDecimal()">.</button>
        <button class="all-clear" (click)="clear()">CE</button>
    </div>
</div>